<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <title>KIREX</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body id="page-top">
<header class="masthead" style="background-image:url('assets/img/old.jpg');">
        <div class="intro-body" style="background-image: url(&quot;assets/img/mintek.jpg&quot;);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">KIREX</h1>
                        <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/hira'">HIRA</button>
                        <button type="button" class="btn btn-danger btn-lg" onclick="window.location.href='/incidents'">INCIDENTS</button>
                        <p class="intro-text"></p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a></div>
                </div>
            </div>
        </div>
    </header>
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Kirex</h2>
                    <p>The Kirex platform is a new approach to Risk assessment which&nbsp;eliminates&nbsp; the need for pesky forms that can get lost.&nbsp;</p>
                    <p>To use it, simply add it to the home screen when your Browser asks if would like to do so. If you havean iPhone, go to <i class="fas fa-share-square"></i> and click on <code>ADD TO HOMESCREEN</code>&nbsp;</p>
                    <p>You will then have a link to the KIREX plattform where you can submit your risk assesment or Incedent report by clicking/tapping on the respective button above</p>
                    <p>&nbsp;<code>PLEASE NOTE</code>&nbsp;KIREX does not send any Data to Mintek other than that, that you submit in the forms. KIREX does not log&nbsp;<code>location based data</code>&nbsp;OR&nbsp;<code></code><code>any analytical data</code></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p>Feel free to drop us a Line on <a href="mailto:kirex@vitomilix-webdesign.com">kirex@vitomilix-webdesign.com</a>&nbsp; if you are experiencing any technical difficulties&nbsp;</p>
                <p>OR contact&nbsp;<code>Deon Lorentan</code>&nbsp;on&nbsp;<a href="mailto:deonl@mintek.co.za">deonl@mintek.co.za</a></p>
                <ul class="list-inline banner-social-buttons"></ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col"><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBi6eRI4_egD4djzP0E4lcqKSqEu1RUECg&amp;q=Mintek&amp;zoom=15" width="100%" height="400"></iframe></div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p id="copyright"><div>
                <script type="text/JavaScript"> 
                let theDate = new Date();
                let year = theDate.getFullYear();
              document.getElementById("copyright").innerHTML = "Copyright ©&nbsp;Vitomilix " + year;
            </script></div></p>
        </div></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    
    <script src="assets/js/grayscale.js"></script>
</body>

</html>